:local .label {
  display: inline-flex;
}

:local .happy-donger {
  composes: donger from '../svg/happy-donger.css';
}

:local .neutral-donger {
  composes: donger from '../svg/neutral-donger.css';
}

:local .sad-donger {
  composes: donger from '../svg/sad-donger.css';
}
